# ==============================
# CONFIGURACION DEL SERVIDOR
# ==============================

PORT=

# ==============================
# CONFIGURACION DE BASE DE DATOS
# ==============================

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=

# ==============================
# SEGURIDAD / JWT
# ==============================

JWT_SECRET=

# ==============================
# CONFIGURACION OPCIONAL
# ==============================

NODE_ENV=